/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, h1, h2, h3, h4, h5, h6, p, button, a, input {
    font-family: "Poppins";
}

a{
    text-decoration: none;
}

/*-------------------------------------LOGIN------------------------------------------------*/
.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    font-size: 1rem;
}

.login_body{
    margin:0px;
}

.login_bg{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.login_form{
    position: relative;
    margin-inline:1.5rem;
    background-color: hsla(0,0%,100%,0.01);
    border: 2px solid  hsla(0,0%,100%,0.7);
    padding: 2.5rem 1rem;
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(16px);
}

.login_title{
    text-align: center;
    font-size: 2rem; /*h1 font size in vid , normal size is 1 rem, small is.813*/
    margin-bottom: 1.25rem;
    color: white;
}

.login_inputs,
.login_box{
    display: grid;
}

.login_inputs{
    row-gap: 1.25rem;
    margin-bottom: 1rem;
}

.login_box{
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border:2px solid hsla(0,0%,100%,.7);
    padding-inline:1.25rem;
    border-radius:4rem;
}

.login_input{
    border:none;
    outline: none;
}

.login_input{
    width: 100%;
    background-color: transparent;
    padding-block: 1rem;
}

.login_input::placeholder{
    color:white; /*change to white after fix*/
    font-size: 1rem;
}

.login_box i{
    color: white;
}

.login_button{
    width: 100%;
    padding:1rem;
    margin-bottom:1rem;
    background-color: transparent;/*fix edi change to white*/
    border-radius: 4rem;
    color:white;/*fix edi change to black*/
    font-weight: 500;
    cursor: pointer;
    border-color: white;
    font-size: 1rem;
}

.login_button:hover{
    background-color: white;
    color:black;
    transition:1s;

}

.login_passchange a{
    color:rgb(48, 202, 249);/*fix edi change to white*/
    font-weight: 500;
}

.login_passchange a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 576px){
    .login{
        justify-content: center;
    }
    .login_form{
        width: 420px;
        padding-inline: 2.5rem;
    }
    .login_title{
        margin-bottom: 2rem;
    }  
}

/*--------------------------------------TRAINING-----------------------------------------------*/
.training_pg{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    background-color:whitesmoke;
   
}

.training_body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    margin:0px
}

#mainContainer{
    height: 100%;
    /*
    max-height: 100vh;
    overflow: auto;
    */
}

.main_header{
    padding: 2rem 2%;
}

.search{
    width: 97.5%;
    display: flex;
    justify-content: space-between;
    border:none;
    background-color: white;
    border-radius: 20px;
    padding:0.5rem 1rem;
    position: relative;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
   
}

.search input{
    width: 90%;
    border:none;
   
}

.search_btn{
    position:absolute;
    right:0;
    top:0;
    height: 100%;
    padding:0 5%;
    border: none;
    background-color: black;
    color:white;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.search_btn:hover{
    background-color: aqua;
    color: black;
}

.filter-wrapper{
    font-size: 14px;
    margin: 0.1rem 2%;
}

.filter{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.filter_btn{
    min-width: 110px;
    width:200px;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.filter_btn:hover{
    background-color: aqua;
    color: black;
}

.sort{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.sort p{
    font-size: 14px;
}

.sort-list select{
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 0 0 0.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    margin-right:10px;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: white;
    line-height: 1.5;
    gap: 1.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    box-shadow: rgba(0,0,0,0.24)0px 3px 8px;
}

.card-left{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.card-left img{
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 1rem;
}

.card-center{
    width: 50%;
}

.card-sub{
    font-size: 13px;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.card-sub p{
    display: flex;
    padding:0 0.5rem 0 0;
    align-items: center;
}

.card-right{
    width:15%;
}

.card-tag p{
    color: black;
    font-size: 13px;
}

.card-duration{
    padding: 0.5rem 0;
    color: aqua;
}

.card-container {
    max-height: 60vh;
    overflow: auto;
}

/*--------------------------------------DASHBOARD-----------------------------------------------*/
.dashboard_pg{
    
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
}

.dashboard_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap:16px;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.insights li{
    padding: 24px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap:24px;
    cursor:pointer;
}

.insights li .bx{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------CONTACT-----------------------------------------------*/
.contact_pg{
    
    font-family: "Poppins", sans-serif;
}

/*----------------------------------------HOME---------------------------------------------*/
.home_pg{
    
    font-family: "Poppins", sans-serif;
}

/*----------------------------------------Profile---------------------------------------------*/
.profile_pg{
    
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------SIDEBAR-------------------------------------------------*/
.sidebar{
    height: 100%;
    width: 78px;
    background: black;
    position:fixed;
    top: 0;
    left: 0;
    padding:6px 14px;
    transition: all 0.5s ease;
    z-index: 1;
    z-index: 1;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #menu_btn{
    position: absolute;
    color:white;
    left: 50%;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}


.sidebar.active #menu_btn{
    left: 90%;
     
}

.sidebar ul{
    margin-top:20px;
}

.sidebar.active ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin:0 5px;
    list-style:none;
    line-height: 50px;
    font-size: 17px;
    
}

.sidebar ul li{
    margin:0 13px;
    font-size: 23px;
}

.sidebar .link_names{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_names{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li a{
    color:white;
    display: flex;
    align-items: center ;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;

}

.sidebar ul li a:hover{
    color:black;
    background-color: aqua;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.nav_list{
    padding: 0;
}

.sidebar .profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding:10px 6px;
    height: 60px;
    background:rgb(33, 33, 33);
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity:0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img{
    height: 45px;
    width:45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left:10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
    font-weight:bold;
}

.profile #logout{
    position: absolute;
    left: 60%;
    bottom: 20px;
    transform: translateX(-50%);
    min-width:50px;
    line-height:50px;
    font-size: 20px;
    border-radius: 12px;
    font: size 17px;
}

.sidebar.active .profile #logout{ 
    left: 88%;
}

.detail_header img{
    width: 50px;
    height: 50px;
}

.divider{
    width: 100%;
    height: 1px;
    background-color:black ;
    border: none;
    margin:1rem 0;
}

.detail_disc{
    line-height: 1.5;
}

.start_btn{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.start_btn:hover{
    background-color: aqua;
    color: black;
    transition: all 0.5s ease;
}

.details{
    display: none;
}

.details.active{
    display: block;
    width: 100%;
    z-index: 100;
}





/*
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 8px;
}

.input-fields-container {
    display: grid;
    grid-template-columns: max-content max-content;
    row-gap: 8px;
}

.input-fields-container > label {
    display: flex;
    align-items: center;
    justify-content: left;
}

.input-fields-container > input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-input-box {
    min-width: 400px;
    margin-left: 8px;
}

.login-button {
    width: min-content;
    padding: 4px;
}

.show-password-checkbox {
    width: min-content;
    height: min-content;
    margin-left: 8px;
}
*/

