<style>
    .wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
    }

    .card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        padding: 3%;
        margin: 0 1%;
        background-color: white;
        line-height: 1.5;
        box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
        border-radius: 10px;
        cursor: pointer;
    }

    .card:hover{
        box-shadow: rgba(0,0,0,0.24)0px 3px 8px;
    }

    .card-left{
        width: 10%;
        min-width: 50px;
        display: flex;
        justify-content: center;
        border-radius: 20%;
    }

    .card-left img{
        width: 100%;
        height: auto;
        min-height: 60px;
        padding: 1rem;
    }

    .card-center{
        width: 50%;
    }

    .card-sub{
        font-size: 13px;
        color: black;
        display: flex;
        flex-wrap: wrap;
    }

    .card-sub p{
        display: flex;
        padding:0 0.5rem 0 0;
        align-items: center;
    }

    .card-right{
        width:15%;
    }

    .card-tag p{
        color: black;
        font-size: 13px;
    }

    .card-duration{
        padding: 0.5rem 0;
        color: aqua;
    }
</style>

<div class="wrapper">
    <div class="card">
        <div class="card-left">
            <img src="../images/workato.png" alt="Training thumbnail"/>
        </div>
        <div class="card-center">
            <h3>Workato</h3>
            <p id="courseNameLabel" class="card-detail">Topic 1</p>
        </div>
        <div class="card-right">
            <div class="card-tag">
                <h5 id="categoryNameLabel">Topic</h5>
            </div>
            <div class="card-duration">
                <p id="durationLabel"><b>50</b>minutes</p>
            </div>
        </div>
    </div>
</div>