<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

<style>
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 78px;
    background: black;
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 10px 14px;
    transition: all 0.5s ease;
    z-index: 1;
    box-sizing: border-box;
  }

  .sidebar.active {
    width: 240px;
  }

  .sidebar.fully-hidden {
      display: none;
  }

  .sidebar .logo_content .logo {
      color:#fff;
      display: flex;
      height: 50px;
      width: 100%;
      align-items: center;
      opacity: 0;
      pointer-events: none;
  }

  .sidebar.active .logo{
      opacity: 1;
      pointer-events: none;
  }

  .logo_content .logo i{
      font-size: 28px;
      margin-right: 5px;
  }

  .logo_content .logo .logo_name{
      font-size: 20px;
      font-weight: 400;
  }

  .sidebar.active #menu_btn{
      left: 90%;
  }

  .sidebar ul{
      margin-top:20px;
  }

  .sidebar.active ul li{
      position: relative;
      height: 50px;
      width: 100%;
      margin:0 5px;
      list-style:none;
      line-height: 50px;
      font-size: 17px;
  }

  .sidebar ul li{
      margin: 0px 13px;
      font-size: 23px;
  }

  .sidebar ul li a{
      color:white;
      display: flex;
      align-items: center ;
      text-decoration: none;
      transition: all 0.4s ease;
      border-radius: 12px;
      white-space: nowrap;

  }

  .sidebar ul li a:hover{
      color:black;
      background-color: aqua;
  }

  .sidebar ul li a i{
      height: 50px;
      min-width: 50px;
      border-radius: 12px;
      line-height: 50px;
      text-align: center;
  }

  .nav_list {
      padding: 0;
  }

  .sidebar .profile_content{
      position: absolute;
      color: white;
      bottom: 0;
      left: 0;
      width: 100%;
  }

  .sidebar .profile_content .profile{
      position: relative;
      padding:10px 6px;
      height: 60px;
      background:rgb(33, 33, 33);
  }

  .profile {
    margin-top: auto;
  }

  .profile_details {
    display: none;
    flex-direction: row;
  }

  .name, .job, #logout {
    color: white;
  }

  .sidebar.active .profile .profile_details{
    display: flex;
    pointer-events: auto;
  }

  .profile .profile_details img{
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 12px;
  }

  .name_job{
      margin-left: 10px;
  }

  .name{
      font-size: 15px;
      font-weight: 400;
  }

  .job{
      font-size: 12px;
      font-weight: bold;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }

  .detail_header img{
      width: 50px;
      height: 50px;
  }

  .divider{
      width: 100%;
      height: 1px;
      background-color:black ;
      border: none;
      margin:1rem 0;
  }

  .detail_disc{
      line-height: 1.5;
  }

  .logos-and-links-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .logos-and-links-container > a {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  .logos-and-links-container > a:hover {
    background-color: aqua;
    border-radius: 12px;
    transition: all 0.4s ease-in-out;
  }

  .sidebar.active .logos-and-links-container > a {
    justify-content: start;
  }

  .sidebar-option-icon {
    color: #fff;
    font-size: 30px;
  }
  
  .link_names {
    color: #fff;
  }

  .sidebar-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sidebar.active .sidebar-header-container {
    justify-content: space-between;
  }

  .sidebar-header-container > * {
    color: white;
  }

  .sidebar.active .link_names {
    display: initial;
  }

  .sidebar-header-logo-container {
    display: none;
  }

  .sidebar.active .sidebar-header-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
  }

  .kato-icon {
    font-size: 30px;
  }

  #menu_btn{
    color:white;
    font-size: 36px;
    text-align: center;
  }

  .link_names{
    display: none;
    pointer-events: none;
  }

  .sidebar.active .link_names{
    display: initial;
    pointer-events: auto;
  }

  .logo_name {
    font-size: 20px;
    font-weight: bold;
  }

  #logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-left: auto;
    padding: 16px 16px;
    border-radius: 12px;
  }

  #logout::before {
    transform: translateX(-2px);
  }
</style>

<div class="sidebar">
  <div class="logos-and-links-container">
    <div class="sidebar-header-container">
      <div class="sidebar-header-logo-container">
        <i class="bx bxl-kickstarter kato-icon"></i>

        <div class="logo_name">Kato</div>
      </div>

      <i class="bx bx-menu" id="menu_btn"></i>
    </div>

    <a href="/dashboard.html">
      <i class='bx bx-home-alt-2 sidebar-option-icon'></i>

      <span class="link_names">Home</span>
    </a>

    <a href="/about.html">
      <i class="bx bxs-group sidebar-option-icon"></i>

      <span class="link_names">Know your team</span>
    </a>
  </div>

  <div class="profile">
    <div class="profile_details">
      <img src="/assets/profile-e-xS9XvX.jpg" alt="" />

      <div class="name_job">
        <div class="name">Lulu</div>

        <div class="job">Web Designer</div>
      </div>
    </div>

    <i class="bx bx-log-out" id="logout"></i>
  </div>
</div>