<style>
    img {
        max-width: 100%;
    }

    .team-member{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: white;
    }
    
    .team-member h3{
        color: black;
        margin: 0px;
    }
    
    .team-member img{
        height: 100px;
        width: 100px;
    }

    .view-member-details-button {
        border-radius: .5rem;
        background: #000;
        color: #0ff;
        padding: 0.6rem;
        font-size: 0.9rem;
        text-decoration: none;
    }
</style>

<div class="team-member">
    <img src="/assets/team_member1-f7UjVADL.png" alt="" />

    <h3 id="nameHeader">John Deo</h3>

    <span id="roleLabel">Developer</span>

    <a id="viewMemberDetailsButton" href="" class="view-member-details-button">View details</a>
</div>