/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, button, a, input {
    font-family: "Poppins";
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.invisible {
    display: none;
}

/*-------------------------------------LOGIN------------------------------------------------*/
.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    font-size: 1rem;
}

.login_body{
    margin: 0px;
}

.login_bg{
    position:absolute;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    object-position: center;
}

.login_form{
    position: relative;
    margin-inline:1.5rem;
    background-color: hsla(0,0%,100%,0.01);
    border: 2px solid  hsla(0,0%,100%,0.7);
    padding: 2.5rem 1rem;
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(16px);
}

.login_title{
    text-align: center;
    font-size: 2rem; /*h1 font size in vid , normal size is 1 rem, small is.813*/
    margin-bottom: 1.25rem;
    color: white;
}

.login_inputs,
.login_box{
    display: grid;
}

.login_inputs{
    row-gap: 1.25rem;
    margin-bottom: 1rem;
}

.login_box{
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid hsla(0,0%,100%,.7);
    padding-inline:1.25rem;
    border-radius:4rem;
}

.login_input{
    border:none;
    outline: none;
}

.login_input{
    /* width: 100%; */
    background-color: transparent;
    padding-block: 1rem;
}

.login_input::placeholder{
    color:white; /*change to white after fix*/
    font-size: 1rem;
}

.login_box i{
    color: white;
}

.login_button{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;/*fix edi change to white*/
    border-radius: 4rem;
    color:white;/*fix edi change to black*/
    font-weight: 500;
    cursor: pointer;
    border-color: white;
    font-size: 1rem;
    border-style: solid;
}

.login_button:hover{
    background-color: white;
    color:black;
    transition:1s;

}

.login_passchange a{
    color:rgb(48, 202, 249);/*fix edi change to white*/
    font-weight: 500;
}

.login_passchange a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 576px){
    .login{
        justify-content: center;
    }
    .login_form{
        width: 420px;
        padding-inline: 2.5rem;
    }
    .login_title{
        margin-bottom: 2rem;
    }  
}

/*--------------------------------------TRAINING-----------------------------------------------*/
.training_pg{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    background-color:whitesmoke;
}

.training_body{
    display: flex;
    flex-direction: row;
    /* position: relative; */
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    margin: 0px;
}

.trainings-header {
    margin: 0px;
}

.training-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1%;
    overflow-y: auto;
}

.details{
    display: none;
}

.details.active{
    display: block;
    /* height: 100%;
    width: 100%; */
    z-index: 1;
    padding: 6%;
}

.start_btn{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.start_btn:hover{
    background-color: aqua;
    color: black;
    transition: all 0.5s ease;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main_header{
    padding: 2rem 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-wrapper{
    font-size: 14px;
    margin: 0.1rem 2%;
}

.filter{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.filter_btn{
    min-width: 110px;
    width:200px;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.filter_btn:hover{
    background-color: aqua;
    color: black;
}

.sort{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.sort p{
    font-size: 14px;
}

.sort-list select{
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 0 0 0.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    margin-right:10px;
}

.wrapper{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: white;
    line-height: 1.5;
    gap: 1.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    box-shadow: rgba(0,0,0,0.24)0px 3px 8px;
}

.card-left{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.card-left img{
    /* width: 100%; */
    height: auto;
    min-height: 60px;
    padding: 1rem;
}

.card-center{
    width: 50%;
}

.card-sub{
    font-size: 13px;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.card-sub p{
    display: flex;
    padding:0 0.5rem 0 0;
    align-items: center;
}

.card-right{
    width:15%;
}

.card-tag p{
    color: black;
    font-size: 13px;
}

.card-duration{
    padding: 0.5rem 0;
    color: aqua;
}

.card-container {
    overflow: hidden;
}

/*--------------------------------------DASHBOARD-----------------------------------------------*/
.dashboard_body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    /* width: 100%;
    height: 100%; */
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    /* height: 100%;
    width: 100%; */
}

.dashboard-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard_pg{
    font-family: "Poppins", sans-serif;
    background-color: rgb(208, 255, 255);
}

.dashboard_header{
    display: flex;
    font-size: 20px;
}

.dashboard_main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 24px;
}

.insights div{
    display: flex;
    flex-direction: row;
    background: #fff;
    column-gap: 4%;
    padding: 1%;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
}

.insights .bx {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx {
    font-size: 20px;
}

.close-details {
    margin-left: 100%;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.close-details:hover {
    background-color: gray;
}

.insight_info h3{
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 0;
}

.insight_info p{
    color: rgb(39, 39, 39);
    margin: 0;
}

.bottom_data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    /* width: 100%; */
    color: black;
}

.messages table td img{
    width: 36px;
    height:36px;
    border-radius: 50%;
    object-fit: cover;
}

.messges table tbody tr{
    cursor: pointer;
    transition:all 0.3s ease
}

.messages table tbody tr:hover{
    background-color:whitesmoke;
}

.messages table tbody tr td .status{
    font-size:10px;
    padding:6px 16px;
    color: white;
    border-radius:20px;
    font-weight: 700;;

}

/*------------------------------------------------------------------------------------*/
/*
.about_pg{
    
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
.slideCardImage{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.slideCardImage .slideCard-img{
    /* height: 100%;
    width: 100%; */
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
}

.about_body{
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    background: whitesmoke;
    margin: 0px;
}

.slideCard{
    border-radius: 25px;
    background-color: white;
    width: 320px;
}

.slide_content{
    margin: 0 40px;
}

.slideCardImageContent,
.slideCardContent{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.slideCardImageContent{
    row-gap: 5px;
    position: relative
    
}
.staffName{
    font-size: 10px;
    font-weight:500;
    color: black;
}

.staffRole{
    font: 14px  ;
    color: aqua;
    text-align: center;
}

.slideCardBtn{
    border:none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 6px;
    margin:14px;
    transition: all 0.5s ease;
}

.slideCardBtn:hover{
    background: aqua;
    color: black;

}

.overlay{
    position: absolute;
    /* height: 100%;
    width: 100%; */
    background: aqua;
    left: 0px;
    top:0;
    border-radius: 25px 25px 0 25px;
}

.slide_container{
    max-width: 1120px;
    /* width: 100%; */
    background: black;
    padding: 40px 0;
}



/*----------------------------------------Profile---------------------------------------------*/
.profile_pg{
    
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

.profileCard .profileImage{
    width: 140px;
    height: 140px;
    border: 50%;
}

.profileCard .profileImage img{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    border-radius: 50%;
}

.profileCard{
    position:relative;
    background-color: white;
    border: 3px solid aqua;
    border-radius: 20px;
}

/* Charts */
.charts{
    display: flex;
    /* width: 100%;
    height: 100%; */
    align-items: center;
    justify-content: center;
}

.charts-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.chart-bubble {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 20px;
    height: fit-content;
    flex-grow: 1;
}

.chart-header {
    margin: 0px;
}

/*courses*/
/*
.Courses{

}
*/

.course-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 440px) {
    .course-container{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

.course-box{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: .5rem;
    background-color: white;
    padding: 20px;
    height: min-content;
}

.course-img {
    border-radius: 0.5rem;
    height: 60%;
    object-fit: cover;
}

.course-desc {
    font-size: 24px;
    color: black;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
}

.course-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: black;
    color: cyan;
    padding: 1rem;
    font-size: 16px;
}

.course-btn:hover{
    color: black;
    background: cyan;
    transition:all 0.4s ease; 
}

.e-learning-body {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.elearning-title{
    font-size: 2rem;
    color: black;
    padding: 1.25rem 0;
    display: flex;
    margin: 0;
}

/* e-learning video*/
.vid-details{
    background-color: var(--white);
    padding: 2rem;
}

.e-learning-video {
    min-width: 100%;
    max-width: 100%;
    border-radius: 0.5rem;
}

/* .vid-desc{
    
} */

.vid-desc p{
    line-height: 2;
    font-size: 1.1rem;
    color: rgb(114, 114, 114);
}

/*footer*/
.footer{
    background-color: rgb(82, 82, 82);
    color: white;
    border-top: var(--border);
    padding: 16px;
    text-align: center;
    font-size: 20px;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
}

.theTeam{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: auto;
    background-color: aliceblue;
    padding: 1.5rem;
}

.teamHeading{
    margin: 0px;
}

.teamHeadingLine{
    height: 1px;
    background-color: rgb(189, 185, 185);
}

/*
body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 8px;
}

.input-fields-container {
    display: grid;
    grid-template-columns: max-content max-content;
    row-gap: 8px;
}

.input-fields-container > label {
    display: flex;
    align-items: center;
    justify-content: left;
}

.input-fields-container > input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-input-box {
    min-width: 400px;
    margin-left: 8px;
}

.login-button {
    width: min-content;
    padding: 4px;
}

.show-password-checkbox {
    width: min-content;
    height: min-content;
    margin-left: 8px;
}
*/

